<div class="about-section my-5">
    <h2 class="text-center p-4 animate__animated animate__backInDown">About</h2>
    <div class="row px-5">
        <div class="col-md-6 col-12 animate__animated animate__backInLeft animate__delay-1s">
            <div class="main-text">
                <h1 class="h3">Hello..!! <small>I am</small></h1>
                <h2 class="h1 text-secondary pb-4">Lahu Mane</h2>
                <h6>I have been Working as a Front-End Developer since 2020 and I have Worked with web-technologies such as HTML, CSS, javaScript, Bootstrap, SASS, jQuery and Angular. I am Quick Learner and ability to adapt new enviornment easily.</h6>
            </div>
        </div>
        <div class="col-md-4 offset-md-1 col-12 text-center my-4 myResume animate__animated animate__backInRight animate__delay-2s">
            <a href="../../assets/lahu resume.pdf" download="Lahu_CV">
            <i class="fa fa-3x fa-cloud-download" aria-hidden="true"></i>
            <p>Download CV</p>
        </a>
        </div>
    </div>
    <div class="text-center animate__animated animate__backInUp animate__delay-3s">
        <h2 class="mt-4">Qualification Journey</h2>
    </div>
    <div class="row py-4 animate__animated animate__backInUp animate__delay-4s">
       <div class="col-md-6 offset-md-3">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner py-3">
              <div class="carousel-item active">
                <div class="card bg-dark text-center text-info rounded">
                    <div class="card-header"><h4>Year : 2017-2020</h4></div>
                    <div class="card-body"><h3>Bachelor of Science</h3>
                        <hr>
                        <h4>Score : 64%</h4>
                    </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="card bg-dark text-center text-info">
                    <div class="card-header"><h4>Passout Year :2017</h4></div>
                    <div class="card-body"><h3>12 th</h3>
                        <hr>
                        <p>Tripura jr. college latur</p>
                    </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="card bg-dark text-center text-info">
                    <div class="card-header"><h4>Passout Year : 2015</h4></div>
                    <div class="card-body"><h3>10 th</h3>
                        
                      <hr>
                        <p>Shri Shivaji High school Latur..</p>
                    </div>

                </div>
              </div>
              
             
            </div>
            <button class="carousel-control-prev" type="button" data-target="#myCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#myCarousel" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
       </div>
    </div>
</div>