<!-- <p>skillset works!</p> -->
<div class="skill-section my-5">
    <h2 class="text-center py-4 animate__animated animate__backInDown">Skills</h2>
    <div class="row px-5">
        <div class="col-md-6 animate__animated animate__rotateInDownLeft animate__delay-1s">
            <p class="h5">HTML/HTML5</p>
            <p-progressBar [value]="85"></p-progressBar>
        </div>
        <div class="col-md-6 animate__animated animate__rotateInDownRight animate__delay-1s">
            <p class="h5">CSS/CSS3</p>
            <p-progressBar [value]="80"></p-progressBar>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-6 animate__animated animate__rotateInDownLeft animate__delay-2s">
            <p class="h5">javaScript</p>
            <p-progressBar [value]="80"></p-progressBar>
        </div>
        <div class="col-md-6 animate__animated animate__rotateInDownRight animate__delay-2s">
            <p class="h5">Bootstrap</p>
            <p-progressBar [value]="85"></p-progressBar>
        </div>
    </div>
    <div class="row px-5 ">
        <div class="col-md-6 animate__animated animate__rotateInDownLeft animate__delay-3s">
            <p class="h5">Angular</p>
            <p-progressBar [value]="75"></p-progressBar>
        </div>
        <div class="col-md-6 animate__animated animate__rotateInDownRight animate__delay-3s">
            <p class="h5">Typescript</p>
            <p-progressBar [value]="75"></p-progressBar>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-6 animate__animated animate__rotateInDownLeft animate__delay-4s">
            <p class="h5">jQuery</p>
            <p-progressBar [value]="70"></p-progressBar>
        </div>
        <div class="col-md-6 animate__animated animate__rotateInDownRight animate__delay-4s">
            <p class="h5">SASS</p>
            <p-progressBar [value]="60"></p-progressBar>
        </div>
    </div>
</div>