<!-- <p>home works!</p> -->
<div class="main-section my-5 p-5">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="main-text">
                <h1 class="h3 animate__animated animate__fadeInDown">Hello..!! <small>I am</small></h1>
                <h2 class="h1 text-primary pt-2 pb-4 animate__animated animate__fadeInDown animate__delay-1s">Lahu Mane</h2>
                <p class="animate__animated animate__fadeInDown animate__delay-2s">
                I am Web Developer and I am very Passionate and Dedicated to My Work with 3 years of Experienced.</p>
            </div>
            <div class="social-links mt-5 animate__animated animate__fadeInDown animate__delay-3s">
                <a href="https://github.com/lahumane001" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                <a href="www.linkedin.com/in/lahu-mane-878501264" target="_blank"><i class="fa fa-linkedin-square fa-2x mx-4" aria-hidden="true"></i></a>
                <a href="https://codepen.io/lahumane" target="_blank"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-6 col-12 text-center py-3 my-img animate__animated animate__fadeInDown animate__delay-4s">
            <img src="../../assets/profile.jpeg" width="300" height="300"  alt="Lahu" title="Lahu">
        </div>
    </div>
</div>